.form-container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow-y: auto;
}

#regis-form{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  font-size: 1.3em;
  background-color: white;
  color: black;
}
.form-group{
  width: 85%;
  margin: 3%;
}
.form-control{
  width: 100%;
  background-color: rgb(237, 233, 233);
  border-radius: 3px;
}
.btn{
  height: 50px;
  font-size: 1.1em;
  border-radius: 5px;
  width: 100%;
}

.fondo {
  height: 200px;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form > h2 {
  font-size: 2em;
}

@media (orientation: landscape) {
  #regis-form{
    width: 50%;
  }
}
@media(max-height:316px) and (orientation: landscape){
  form > h2 {
    font-size: 1.3em;
  }
  #regis-form{
    width: 45%;
  }
  .btn{
    height: 30px;
  }
}
